<h2>Create a new drone</h2>
<form method="POST" action="/drones/create">
  <div class="mb-3">
    <label class="form-label" >Name</label>
    <input class="form-control" type="text" name="Name">
    <br>
    <label class="form-label" >propellers</label>
    <input class="form-control" type="text" name="propellors">
    <br>
    <label class="form-label" >speed</label>
    <input class="form-control" type="text" name="speed">
    <br>
    <button class="btn btn-primary" type="submit">SUBMIT</button>
  </div>
</form>