<h2>Update the drone</h2>
<form method="POST" action="/drone/{{drones._id}}/edit">
  <div class="mb-3">
    <label class="form-label" >Name</label>
    <input class="form-control" value="{{drones.name}}" type="text" name="name">

    <button class="btn btn-primary" type="submit">EDIT</button>
  </div>
</form>